        <!-- end preloader -->
        <!-- start of hero -->
        <section class="hero">
            <div class="hero-slider hero-slider-s1">
                <div class="slide-item">
                    <img src="images/slider/slide-1.jpg" alt class="slider-bg">
                </div>

                <div class="slide-item">
                    <img src="images/slider/slide-2.jpg" alt class="slider-bg">
                </div>
            </div>
            <div class="wedding-announcement">
                <div class="couple-name-merried-text">
                    <h2 class="wow slideInUp" data-wow-duration="1s">Антон &amp; Катя</h2>
                    <div class="married-text wow fadeIn" data-wow-delay="1s">
                        <h4 class="">
                        <span class=" wow fadeInUp" data-wow-delay="1.05s">М</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.10s">и</span>
                        <span>&nbsp;</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.20s">о</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.25s">д</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.30s">р</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.35s">у</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.40s">ж</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.45s">у</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.50s">є</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.55s">м</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.60s">о</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.65s">с</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.70s">я</span>

                        </h4>
                    </div>
                    <!-- <i class="fa fa-heart"></i> -->
                </div>

                <div class="save-the-date">
                    <h4>Збережи дату</h4>
                    <span class="date">28 ЛИПНЯ 2018</span>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->

        <!-- Start header -->
        <header id="header" class="site-header header-style-1">
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="couple-logo">
                            <h1><a href="#home">A<i class="fi flaticon-shape-1"></i>K</a></h1>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <!-- <li><a href="#home">Home</a></li> -->
                            <li><a href="#couple">Пара</a></li>
                            <li><a href="#story">Історія</a></li>
                            <li><a href="#events">Розклад</a></li>
                            <li><a href="#people">Люди</a></li>
                            <!-- <li><a href="#gallery">Галерея</a></li> -->
                            <li><a href="#location">Як дістатись</a></li>
                            <!-- <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#Level3">Thidr level</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Level3</a></li>
                                            <li><a href="#">Level3</a></li>
                                            <li><a href="#">Level3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </div><!-- end of nav-collapse -->
                </div><!-- end of container -->
            </nav>
        </header>
        <!-- end of header -->


        <!-- start wedding-couple-section -->
        <section class="wedding-couple-section section-padding" id="couple">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="gb groom">
                            <div class="img-holder wow fadeInLeftSlow">
                                <img style="opacity: 1;" src="images/couple/img-1.jpg" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <h3>Наречений</h3>
                                    <p>
                                        Всім привіт! Я звичайний простий хлопчина з невеликого містечка родом. 
                                        <br>Радий, що маю чудових батьків, вірних та перевірених друзів. Також пишаюсь, що накопив собі список хоббі.
                                        <br>Якщо коротко, то: велосипед, лижі, музика, програмування.
                                        <br>Але найбільша для мене радість - це та, яку зустрів майже 5 років тому. Моя принцеса і майбутня дружина - Катюша.
                                    </p>
                                    <span class="signature">Антон</span>
                                    <ul class="social-links">
                                        <li><a href="https://www.facebook.com/a.sergievskiy/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/sergievskiy_anton/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/antonsergievskiy/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="gb bride">
                            <div class="details">
                                <div class="details-inner">
                                    <h3>Наречена</h3>
                                    <p>Привіт! Якщо коротко про мене , то я одна з тих щасливих людей яка має майже все у своєму житті. Чудових батьків, гарну родину та вірних друзів.
                                        <br>Але є ще одна людина якою я пишаюсь, ціную та кохаю, як своє життя, яка сприймає мене тою особистістю якою я зросла :)  Тою людиною є мій майбутній чоловік, той самий принц (без білого коня, але на велосипеді) - Антон.</p>
                                    <span class="signature">Катя</span>
                                    <ul class="social-links">
                                            <li><a href="https://www.facebook.com/Katty.Korovchenko/"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/k.korovchenko/"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/ekateryna-korovchenko-329014149/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="img-holder wow fadeInRightSlow">
                                <img style="opacity: 1;" src="images/couple/img-2.jpg" alt>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end wedding-couple-section -->


        <!-- start count-down-section -->
        <section class="count-down-section section-padding parallax" data-bg-image="images/countdown-bg.jpg" data-speed="7">
            <div class="container">
                <div class="row">
                    <div class="col col-md-4">
                        <h2 style="font-size: 3.2em !important"><span>Чекаємо на .....</span> Створення Сім'ї</h2>
                    </div>
                    <div class="col col-md-7 col-md-offset-1">
                        <div class="count-down-clock">
                            <div id="clock"><div class="box"><div>{{ interval.days }}</div> <span>Днів</span> </div><div class="box"><div>{{ interval.hours }}</div> <span>Годин</span> </div><div class="box"><div>{{ interval.minutes }}</div> <span>Хвилин</span> </div><div class="box"><div>{{ interval.seconds }}</div> <span>Секунд</span> </div></div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end count-down-section -->


        <!-- start story-section -->
        <section class="story-section section-padding" id="story">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>Наша love story</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div class="row">
                    <div class="col col-xs-12">
                        <div class="story-timeline">
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="story-text right-align-text">
                                        <h3>Перша зустріч</h3>
                                        <span class="date">Вересень 2013</span>
                                        <p>"Можна сказати, що наша історія почалася ще коли я закінчував школу та готувався до вступу. Адже вже тоді я знав, що начатимусь в КПІ та буду частиною Студентської ради.
                                            <br>Так от, вперше ми зустрілись саме в університеті на зборах СтудРади. А перше спілкування відбулось на корпоративі ради. Це була база відпочинку "Чайка". 
                                            <br>Я до сих пір з посмішкою згадую, як в мене в той вечір розболілася голова, і Катюша про мене попіклувалась. Вона знайшла в сумці пігулки від мігрені, принестла води і простягнула все це мені.
                                            <br>І тоді я в неї закохався. От так ми вперше познайомились." — Антон.</p>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="img-holder">
                                        <img src="images/story/img-1.jpg" alt class="img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="img-holder right-align-text story-slider">
                                        <img src="images/story/img-2.jpg" alt class="img img-responsive">
                                    </div>
                                </div>
                                <div class="col col-md-6 text-holder">
                                    <span class="heart">
                                        <i class="fa fa-heart"></i>
                                    </span>
                                    <div class="story-text">
                                        <h3>Перше побачення</h3>
                                        <span class="date">Жовтень 2013</span>
                                        <p>"...Я пам'ятаю, що на нашому першому побаченні ми сиділи в кафешці на КПІ, пили чай і я розповідала Антону, що не вірю в щире кохання, мовляв, його не існує.
                                            <br>І ще пам'ятаю, як я була проти того, щоб за мій чай платив Антон, але він настояв на своєму:)" — Катя.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-6 text-holder right-heart">
                                    <span class="heart">
                                        <i class="fa fa-heart"></i>
                                    </span>
                                    <div class="story-text right-align-text">
                                        <h3>Освідчення в почуттях</h3>
                                        <span class="date">17 листопада 2013</span>
                                        <p>"...Эдине, що я пам'ятаю з того дня - це був вечір, і Катя збиралась саме на днях їхати у Львів на змагання.
                                            <br>А ще, в неї було чудове вбрання..." — Антон.</p>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="img-holder right-align-text story-slider">
                                        <img src="images/story/img-3.jpg" alt class="img img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="img-holder video-holder">
                                        <img src="images/story/img-4.jpg" alt class="img img-responsive">
                                    </div>
                                </div>
                                <div class="col col-md-6 text-holder">
                                    <span class="heart">
                                        <i class="fa fa-heart"></i>
                                    </span>
                                    <div class="story-text">
                                        <h3>Пропозиція руки та серця</h3>
                                        <span class="date">14 лютого 2018</span>
                                        <p>"В той момент, коли я мріяла про довгоочікувану відпустку та катання на борді, Антон хвилювався та планував момент пропозиції.
                                            <br>Моя подруга Ксенія та друзі Антона - Назар і Вадім ходили ще з Києва і виду не подавали.
                                            <br>14 лютого 2018 року наступив той самий хвилюючий момент, коли Антон стояв посеред прикрашеного романтичними свічками, кульками, м'якими ведмежатами та пелюстаками роз в кафе на одному коліні.
                                            <br>Коли він закінчив говорити - я довго не могла вимовити навіть і слова, так як я навіть і не здогадувалась, що мене може таке чекати.
                                            <br>Слова кохання та пропозиція руки та серця залишаться в мене в серці назавжди!" — Катя.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end story-section -->


        <!-- start cta -->
        <section class="cta section-padding parallax" data-bg-image="images/cta-bg.jpg" data-speed="7">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2><span>We are going to...</span> Celebrate Our Love</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end cta -->

        <!-- start events-section -->
        <section class="events-section section-padding" id="events">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>Розклад</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div *ngIf="weddingInfo && weddingInfo.events" class="row">
                    <div class="col col-lg-10 col-lg-offset-1">
                        <div *ngFor="let event of weddingInfo.events">
                            <app-single-event [event]="event"></app-single-event>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end events-section -->


        <!-- start inportant-people-section -->
        <section class="inportant-people-section section-padding" id="people">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>Дружби &amp; Дружки</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div class="row">
                    <div class="col col-xs-12">
                        <div class="inportant-people-content">
                            <div class="tablist">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#groomsmen" data-toggle="tab">Дружби</a>
                                    </li>
                                    <li>
                                        <a href="#bridesmaid" data-toggle="tab">Дружки</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane fade in active grid-wrapper" id="groomsmen">
                                    <div class="grid">
                                        <div class="img-holder">
                                            <a href="images/groomsmen/nazik.jpg" class="popup-image">
                                                <img src="images/groomsmen/nazik.jpg" alt class="img img-responsive">
                                            </a>
                                        </div>
                                        <div class="details">
                                            <h3>Назар Коцемір</h3>
                                            <span>Тамада</span>
                                            <ul class="social-links">
                                                <li><a href="https://www.instagram.com/kotsemir.nazariy/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="img-holder">
                                            <a href="images/groomsmen/vadim.jpg" class="popup-image">
                                                <img src="images/groomsmen/vadim.jpg" alt class="img img-responsive">
                                            </a>
                                        </div>
                                        <div class="details">
                                            <h3>Вадим Різник</h3>
                                            <span>Хакер та ЗОЖник</span>
                                            <ul class="social-links">
                                                <li><a href="https://twitter.com/enjoying_sadnes/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.instagram.com/akk0rd/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="img-holder">
                                            <a href="images/groomsmen/starosta.jpg" class="popup-image">
                                                <img src="images/groomsmen/starosta.jpg" alt class="img img-responsive">
                                            </a>
                                        </div>
                                        <div class="details">
                                            <h3>Жека Власенко</h3>
                                            <span>Чєловєк з Генштабу</span>
                                            <ul class="social-links">
                                                <li><a href="https://www.facebook.com/zhenia.vlasenko" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com/badtrip4life/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade grid-wrapper" id="bridesmaid">
                                    <div class="grid">
                                        <div class="img-holder">
                                            <a href="images/bridesmaid/vasilenko.jpg" class="popup-image">
                                                <img src="images/bridesmaid/vasilenko.jpg" alt class="img img-responsive">
                                            </a>
                                        </div>
                                        <div class="details">
                                            <h3>Ксенія Василенко</h3>
                                            <span>"Записывемся на ноготочки"(с)</span>
                                            <ul class="social-links">
                                                <li><a href="https://www.facebook.com/profile.php?id=100006038178245" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com/hey_kseniia/"><i class="fa fa-instagram" target="_blank"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="img-holder">
                                            <a href="images/bridesmaid/bolotenko.jpg" class="popup-image">
                                                <img src="images/bridesmaid/bolotenko.jpg" alt class="img img-responsive">
                                            </a>
                                        </div>
                                        <div class="details">
                                            <h3>Катя Болотенко</h3>
                                            <span>З Донбасу</span>
                                            <ul class="social-links">
                                                <li><a href="https://www.facebook.com/katerina.bolotenko" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com/bolotenko.katerina/" target="_blank"><i class="fa fa-instagram" target="_blank"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="img-holder">
                                            <a href="images/bridesmaid/vegan.jpg" class="popup-image">
                                                <img src="images/bridesmaid/vegan.jpg" alt class="img img-responsive">
                                            </a>
                                        </div>
                                        <div class="details">
                                            <h3>Мері Ваградян</h3>
                                            <span>Не веган, а вегетаріанка<small>(Не путать)</small></span>
                                            <ul class="social-links">
                                                <li><a href="https://www.facebook.com/katerina.bolotenko/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com/imaryowl/"><i class="fa fa-instagram" target="_blank"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end inportant-people-section -->

        <!-- start getting-there-section -->
        <section class="getting-there-section section-padding" id="location">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title-white">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>Локація</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div class="row content" style="margin-bottom: 40px;">
                    <div class="col col-md-6">
                        <h3>Як дістатись?</h3>
                        <p> Ресторан "Фотреця" знаходиться за адресою: проспект Георгія Гонгадзе, 21, м. Київ.
                            <br>Діставатись рекомендуємо на таксі <a style="color: yellow;" href="https://www.uklon.com.ua" target="_blank">Uklon</a> або від станції метро "Оболонь" на маршрутці №102. Дорога на маршрутці займає ~40хв.</p>
                    </div>
                    <div class="col col-md-6">
                        <h3>Розміщення</h3>
                        <p> Якщо вам потрібне місце для ночівлі - зв'яжіться з нами, і ми подбаємо про це. 
                            <br>Наші телефони:
                            <br><a style="color: initial" href="tel:+380935024896">+38 093 502 48 96</a> Антон
                            <br><a style="color: initial" href="tel:+380938772917">+38 093 877 29 17</a> Катя
                        </p>
                    </div>
                </div> <!-- end row -->
                <div class="row">
                        <div class="col col-xs-12">
                                <iframe src="https://www.google.com.ua/maps/embed?pb=!1m18!1m12!1m3!1d2537.0281201751845!2d30.41561901590706!3d50.5150435905893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd5e327f2263%3A0x86e7cc2c7cb8895a!2z0KTQvtGA0YLQtdGG0Y8!5e0!3m2!1suk!2sua!4v1529501961897" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end getting-there-section -->

        <!-- start footer -->
        <footer class="site-footer">
            <div class="back-to-top">
                <a href="#" class="back-to-top-btn"><span><i class="fi flaticon-cupid"></i></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Forever and Always Our Love</h2>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>
        <!-- end footer -->
