<!-- start rsvp-section -->
<section *ngIf="invite" class="rsvp-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="section-title-white">
          <div class="vertical-line">
            <span>
              <i class="fi flaticon-two"></i>
            </span>
          </div>
          <h2>Запрошення на весілля</h2>
        </div>
      </div>
    </div>
    <!-- end section-title -->

    <div class="row content">
      <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form class="form validate-rsvp-form row">
          <div class="col-sm-12">
            <p *ngIf="step == 1 || step > 2">{{ greeting }}
              <span [innerHTML]="invite.description"></span>
            </p>
            <div *ngIf="step == 1">
              <p>Чи зможете ви прийти та розділити нашу радісь?</p>
              <div class="col col-sm-6 submit-btn">
                <button (click)="setGoing(true)" class="submit btn-block">Так! 🍾
                  <i class="far fa-smile"></i>
                </button>
              </div>
              <div class="col col-sm-6 submit-btn">
                <button (click)="setGoing(true)" class="cancel btn-block">На жаль, ні 😢
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="step == 2">
            <div *ngIf="invite.suggestHotel" class="col col-sm-12 checkbox">
              <label>
                <input name="mpf" type="checkbox" [(ngModel)]="invite.inviteAnswer.needHotel" />
                <span>Потрібне місце, де можна було б переночувати?</span>
              </label>
            </div>
            <div class="col col-sm-12">
              <span>Можливо у вас є якісь побажання, уточнення чи запитання? Напишіть їх нижче?</span>
              <textarea class="form-control" name="comment" [(ngModel)]="invite.inviteAnswer.comment"></textarea>
            </div>
            <div class="col col-sm-12 submit-btn">
              <button (click)="save()" class="submit">
                <span *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Зберегти відповідь</button>
            </div>
          </div>
          <div class="col col-md-12 text-center" *ngIf="step > 2">
            <div *ngIf="invite.inviteAnswer.going">
              <p>Дякуємо за відповідь. Чекаємо з нетерпінням!
                <br>Більш детальну інформацію про місце, дату, час, розклад - можете переглянути на нашому <a href="/">сайті</a>.
              </p>
            </div>
            <div *ngIf="!invite.inviteAnswer.going">
              <p>Нам дуже шкода, що у вас не виходить. Якщо у вас зміняться плани - дайте нам знати. Ми будемо раді бачити вас
                на нашому весіллі!
              </p>
            </div>
            <div class="col col-sm-6 submit-btn">
              <button onclick="window.location.href='/'" class="submit">Перейти на сайт</button>
            </div>
            <div class="col col-sm-6 submit-btn">
              <button (click)="step = 1" class="submit">Змінити рішення</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end rsvp-section -->