<h1>Wedding configuration</h1>
<p *ngIf="!wedding">
  <em>Loading...</em>
</p>
<div *ngIf="wedding">
    <div class="form-group">
      <span class="ui-float-label">
        <input [(ngModel)]="wedding.title" id="wedding-title" type="text" size="30" pInputText>
        <label for="wedding-title">Title</label>
      </span>
    </div>
  <div class="form-group">
    <span class="ui-float-label">
      <input [(ngModel)]="wedding.hashtag" id="wedding-hashtag" type="text" size="30" pInputText>
      <label for="wedding-hashtag">Hashtag</label>
    </span>
  </div>

  <button (click)="save()">Save</button>

  <h2 *ngIf="events">Events:</h2>

  <div *ngFor="let event of wedding.events; let i = index">
    <app-edit-event [event]="event" (eventDeleted)="eventDeleted($event)"></app-edit-event>
  </div>

  <button (click)="addEvent()">Add event</button>
</div>