<section class="wedding-couple-section section-padding">
  <div class="container">
    <div class="row">
      <div class="content-section">
        <p *ngIf="!invite">
          <em>Loading...</em>
        </p>
        <div *ngIf="invite">
          <div class="col-sm-12">
            <h1 class="feature-title">Invite</h1>
            <form>

              <div class="col-sm-12">
                <span>Alias:</span>
                <input type="text" class="form-control" id="alias" name="alias" placeholder="Alias" [(ngModel)]="invite.alias">
              </div>
              
              <div class="col-sm-12">
                <!-- <quill-editor [(ngModel)]="invite.description" ></quill-editor> -->
                <ck-editor name="editor1" [(ngModel)]="invite.description" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
              </div>

              <div class="col-sm-12">
                <span>Event:</span>
                <select [(ngModel)]="selectedEvent" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let event of events" [ngValue]="event">{{event.title}}</option>
                </select>
              </div>


              <div class="col-sm-12 checkbox">
                <label>
                  <input name="mpf" type="checkbox" [(ngModel)]="invite.isCustomName" />
                  <span>Custom Name</span>
                </label>
              </div>

              <div class="col-sm-12" *ngIf="invite.isCustomName">
                <span>Alias:</span>
                <input type="text" class="form-control" id="alias" name="alias" placeholder="Custom greeting" [(ngModel)]="invite.customGreeting">
              </div>

              <div class="col-sm-12 checkbox">
                <label>
                  <input name="suggestHotel" type="checkbox" [(ngModel)]="invite.suggestHotel" />
                  <span>Suggest Hotel</span>
                </label>
              </div>

            </form>
          </div>


          <div class="col-sm-12">

            <h2>Guests:
              <span *ngIf="invite.guests.length > 0">({{ invite.guests.length }})</span>
            </h2>
            <p *ngIf="invite.guests.length == 0">No guests. Add some...</p>
            <div *ngFor="let guest of invite.guests; let i = index">
              <div class="col-sm-12 form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name" [(ngModel)]="guest.firstName">
              </div>

              <div class="col-sm-12 form-group">
                <label for="lastName">First Name:</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="guest.lastName">
              </div>

              <div class="col-sm-12 form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" [(ngModel)]="guest.phoneNumber">
              </div>

              <div class="col col-sm-12 checkbox">
                <label>
                  <input name="fromGroom" type="checkbox" [(ngModel)]="guest.fromGroom" />
                  <span>Is from groom?</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 submit-btn btn-block">
            <button (click)="addGuest()" class="submit">
              Add guest</button>
          </div>
          <div class="col-sm-6 submit-btn btn-block">
            <button (click)="save()" class="submit">
              <span *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>